        {{#if nombre}}
        <div   style="display: flex; align-items: center; justify-content:center;">
            <div style="background-color:aquamarine; display:flex; align-items: center; justify-content:space-around; height:10vh; width:60vh">
                        <h1 id = 'bienvenida'>Bienvenido {{nombre}}</h1>  
          <button type="submit"  id ='button' class="btn btn-danger"><a href="/logout">Logout</a></button>
            </div>
        </div>
        {{/if}}