 
 <div>
  <form action="/login" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1"  class="form-label">Ingresa tu nombre</label>
            <input type="text" class="form-control" name='name' id="exampleInputEmail1" aria-describedby="emailHelp" required >
        </div>
        <button   class="btn btn-primary">Submit</button>
    
    </form>
        <a href="/login/facebook">Login with facebook</a>
</div>