        <div style="display: flex; align-items: center; justify-content:center;">
            <div style="background-color:aquamarine; display:flex; align-items: center; justify-content:space-around; height:10vh; width:60vh">
                        <h1>Hasta luego!</h1>  
            </div>
        </div>